.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 999px) {
  .header__logo {
    margin: 0 auto 0 27px;
  }
}

@media screen and (max-width: 499px) {
  .header__logo {
    width: 104px;
    height: 25px;
  }
}
