.popup__close-button {
  position: absolute;
  min-height: 32px;
  min-width: 32px;
  left: 102%;
  bottom: 103%;
  padding: 0;
  border: none;
  background-image: url(../../../images/krestik.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: 0.6s;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 499px) {
  .popup__close-button {
    min-height: 20px;
    min-width: 20px;
    left: 93%;
    bottom: 105%;
  }
}
