.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  grid-area: about;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media screen and (max-width: 999px) {
  .profile__subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 799px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.2;
    max-width: 250px;
  }
}
