.login__input {
    min-height: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    min-width: 358px;
    box-sizing: border-box;
    padding: 0 0 6px;
    border: 0;
    background-color: transparent;
    color:#fff;
    outline: none;
  }
