.login__button {
        background-color: #fff;
        border-radius: 2px;
        color: #000;
        min-height: 50px;
        font-size: 18px;
        line-height: 1.2;
        border: none;
        width: 100%;
        transition: 0.6s;
        padding: 0;
        cursor: pointer;
        margin-top: 216px;
      }

.login__button:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  