.popup__container {
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  position: relative;
  max-height: 330px;
}

@media screen and (max-width: 499px) {
  .popup__container {
    min-width: 282px;
    max-height: 322px;
  }
}
