.elements__like-button {
  background-image: url(../../../images/heart.svg);
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  min-width: 22px;
  min-height: 19px;
  transition: 0.6s;
  cursor: pointer;
}

.elements__like-button:hover {
  opacity: 0.5;
}

