.header {
  max-width: 880px;
  margin: 45px auto 40px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 799px) {
  .header {
    margin-top: 28px;
    margin-bottom: 38.25px;
  }
}
